.p-bg {
    background: #091AE1;
}
.s-bg {
    background: #E5E8FF;
}
.p-text {
    color: #091AE1;
    font-weight: 600;
}

.p-btn {
    background: #091AE1;
    color: #ffffff;
    font-weight: 400;
}

.p-btn-light {
    background: rgba(107, 105, 121, 0.5);
    color: #ffffff;
    font-weight: 400;
}

.b-r {
    border-right: none;
}

.b-l {
    border-left: none;
}

.bg-smoke {
    background: rgba(249, 249, 249, 0.8);
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.accordion {
    background-color: rgba(255, 255, 255, 0.1);
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active{
    background-color: #091AE1; 
    color: #fff;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    width: 100%;
    background-color: white;
    overflow: hidden;
  }

  .swiper {
    width: 100%;
    height: 100%;
      }

  .slide-content{
    margin: 0 40px;
    padding: 1em;
  }

  .s-card{
    height: 250px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
  }

  .s-card-image {
    height: 70%;
    width: 100%;
    border-radius: 10px;
  }

  .s-card-image img{
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  
  .btn-prev,
  .btn-next {
       
    color: #091AE1;
    
  }

  
.icons i:hover{
  color: #b1b8be;
  cursor: pointer;
}



  @media (max-width: 991.98px) {
    #navmenu {
      display: flex;
      justify-content: start;
      align-items: end;
      padding: 2em;
      width: max(60%);
    }
    
    #navmenu .navbar-nav{
      width: 100%;
      margin: 0 0 4em 0;
      justify-content: space-between;
    }
    #navmenu .navbar-nav .nav-item a{
      color: #091AE1;
      font-weight: 600;
    }



  }
  

  @media (max-width: 780px) {
    .s-card{
      height: 300px;
      
    }


  }

  @media (max-width: 480px) {
    .s-card{
      height: 350px;
      
    }


  }